body {
  background: #edeff0 url(../media/img/bg_01.jpg);
}
a {
  text-decoration: none;
}
.k-container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  flex-shrink: 0;
}
.head_card-offset {
  padding-top: 65px;
}
.site-info {
  position: relative;
  padding: 2.5%;
  text-align: center;
  font-size: 13px;
  color: #B9B9B9;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}
.doc-footer-nav {
  height: 96px;
}
.doc-footer-nav-left {
  text-align: left;
}
.doc-footer-nav-left,
.doc-footer-nav-right {
  height: 96px;
}
.doc-footer-nav-text {
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 24px;
  padding-top: 24px;
  width: 100%;
}
.doc-footer-nav-left .mdui-icon {
  float: left;
  margin-right: 10px;
}
.doc-footer-nav-text .mdui-icon {
  padding-top: 23px;
  width: 24px;
}
.doc-footer-nav-text .doc-footer-nav-direction {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 1px;
  opacity: 0.55;
}
.doc-footer-nav-left .doc-footer-nav-chapter {
  margin-left: 34px;
}
.doc-footer-nav-right .mdui-icon {
  float: right;
  margin-left: 10px;
}
.doc-footer-nav-right {
  text-align: right;
}
.doc-footer-nav-left,
.doc-footer-nav-right {
  height: 96px;
}
.doc-footer-nav-text {
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 24px;
  padding-top: 24px;
  width: 100%;
}
.doc-footer-nav-text .doc-footer-nav-direction {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 1px;
  opacity: 0.55;
}
.doc-footer-nav-right .doc-footer-nav-chapter {
  margin-right: 34px;
}

    .header {background-image: url(https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word=%E9%BB%91%E7%99%BD%E5%B4%8E%E4%B8%80%E6%8A%A4&step_word=&hs=0&pn=2&spn=0&di=56320&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&istype=2&ie=utf-8&oe=utf-8&in=&cl=2&lm=-1&st=-1&cs=1705011354%2C2792045911&os=1968900127%2C3723760723&simid=5598650%2C868612077&adpicid=0&lpn=0&ln=516&fr=&fmq=1592922544128_R&fm=result&ic=&s=undefined&hd=&latest=&copyright=&se=&sme=&tab=0&width=&height=&face=undefined&ist=&jit=&cg=&bdtype=0&oriquery=&objurl=http%3A%2F%2Fstatic.missevan.com%2Fboardimgs%2F2015%2F07%2F09%2F14364418699829.png&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Brtg2-3tw_z%26e3BgjpAzdH3Fvity5g2-2oy112fxxoywo2o6yo3_z%26e3Bip4s&gsm=3&rpstart=0&rpnum=0&islist=&querylist=&force=undefined);}
    .index-img{ background-image: url(https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word=%E9%BB%91%E7%99%BD%E5%B4%8E%E4%B8%80%E6%8A%A4&step_word=&hs=0&pn=2&spn=0&di=56320&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&istype=2&ie=utf-8&oe=utf-8&in=&cl=2&lm=-1&st=-1&cs=1705011354%2C2792045911&os=1968900127%2C3723760723&simid=5598650%2C868612077&adpicid=0&lpn=0&ln=516&fr=&fmq=1592922544128_R&fm=result&ic=&s=undefined&hd=&latest=&copyright=&se=&sme=&tab=0&width=&height=&face=undefined&ist=&jit=&cg=&bdtype=0&oriquery=&objurl=http%3A%2F%2Fstatic.missevan.com%2Fboardimgs%2F2015%2F07%2F09%2F14364418699829.png&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Brtg2-3tw_z%26e3BgjpAzdH3Fvity5g2-2oy112fxxoywo2o6yo3_z%26e3Bip4s&gsm=3&rpstart=0&rpnum=0&islist=&querylist=&force=undefined);}
    